html,
body {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    background: linear-gradient(rgba(42, 218, 130, 0.7), rgba(179, 62, 226, 0.8), rgba(192, 192, 192, 0.7));
}

#user-details {
    background-color: rgba(104, 206, 36, 0.7);
    width: 55%;
    margin: 0 auto;
    text-align: initial;
    padding: 20px;
    border: 3px solid #fff;
    color: #fff;
    border-radius: 4px;
    font-family: 'Franklin';
    font-size: 34px;
}

#user-details>hr {
    border-width: 5px;
    border-color: rgba(211, 79, 145, 0.8);
    border-style: solid;
}

#posts {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}