<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Change Your password</title>
    <link rel="stylesheet" href="static/stylesheets/change_password.css">
</head>

<body>

    <h1> Change Password </h1>

    <div id="form">

        <form action="../../server/change_password.php" method="post">

            <input type="password" name="current_password" placeholder="Current Password" requried>
            <br><br> <input type="password" id="new" name="new_password" placeholder="New Password" requried>
            <br><br> <input type="password" id="confirm" name="confirm_password" placeholder="Confirm Password" required onkeyup="check()">

            <span id="warning"> Passwords do not match!</span>
            <br><br>

            <button type="submit" name="submit"> Change </button>

            <button type="reset"> Clear </button>
        </form>

    </div>

    <script src="static/JS/changePassword.js"></script>

</body>

</html>