html,
body {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    /* background-color: rgba(217, 217, 217, 0.8); */
    background: radial-gradient( white, skyblue);
}

h1 {
    text-align: center;
    font-family: Gill Sans;
    font-size: 65px;
    color: forestgreen;
    text-shadow: 3px 3px #fff;
}

#form {
    width: 30%;
    margin: 90px auto;
    border: 3px solid rgb(128, 128, 128);
    text-align: center;
    border-radius: 6px;
    padding: 20px;
    transition: all 0.4s ease-in-out;
}

#form:hover {
    box-shadow: 6px 4px 2px silver;
    transform: scale(1.10, 1.10);
}

#warning {
    background-color: orangered;
    color: #dfc;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 20px;
    font-family: sans-serif;
}

#form>form {
    padding: 15px;
    outline-style: groove;
}

#form>form>input {
    font-size: 32px;
    padding: 8px;
    font-family: Gothic;
    font-style: italic;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

#form>form>input:focus {
    transform: scale(1.15, 1.15);
    border-radius: 6px;
    border-width: thin;
}

#form>form>button {
    font-size: 34px;
    padding: 6px;
    width: 40%;
    border: 3px solid #ffd;
    border-radius: 10px;
    font-family: monospace;
    font-weight: bold;
    color: #fff;
    background-color: #293;
    transition: all 0.4s ease-in-out;
}

#form>form>button[type="reset"] {
    background-color: #932;
}

#form>form>button[type="submit"]:hover {
    background-color: #fff;
    cursor: pointer;
    color: #293;
    border-radius: 2px;
    border-color: #293;
}

#form>form>button[type="reset"]:hover {
    background-color: #fff;
    cursor: pointer;
    color: #932;
    border-radius: 2px;
    border-color: #932;
}

#form>form>button:active{
    transform: translateY(8px);
}