body,
html {
    padding: 0;
    margin: 0;
    animation-name: change_color;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1.6s;
}

@keyframes change_color {
    from {
        background-color: #845;
    }
    40% {
        background-color: #234;
    }
    60% {
        background-color: #745;
    }
    80% {
        background-color: #934;
    }
    to {
        background-color: #145;
    }
}

#heading {
    text-align: center;
    color: steelblue;
    text-decoration: underline;
    font-family: serif;
    font-size: 54px;
}

#login {
    width: 350px;
    margin: 0 auto;
    background-color: rgba(158, 220, 231, 0.6);
    margin-top: 75px;
    border: 3px solid #fff;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
}


/* #login:hover {
    transition-duration: 0.4s;
    border-radius: 20%;
    cursor: pointer;
    border: 4px dashed lime;
} */

form>input {
    font-size: 25px;
    padding: 10px;
    border-radius: 4px;
    border-width: thin;
}

form>button {
    font-size: 24px;
    padding: 8px;
    border-radius: 6px;
    background-color: #fff;
    border: 2px solid forestgreen;
    color: forestgreen;
    width: 80%;
}

form>button:hover {
    transition-duration: 0.4s;
    background-color: forestgreen;
    color: #fff;
    border-color: #fff;
    cursor: pointer;
    border-width: 2px;
    border-radius: 4px;
}

#sentence {
    color: white;
    font-family: 'fantasy';
    letter-spacing: 3px;
    font-size: 60px;
}

#sign-up-button {
    font-size: 42px;
    font-family: 'Tahoma';
    padding: 4px;
    width: 20%;
    border-radius: 8px;
    background-color: #293;
    color: #fff;
    border: 3px solid #fff;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

#sign-up-button:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    color: #293;
    border-color: #293;
}