html,
body {
    margin: 0;
    padding: 0;
    outline: none;
    background-color: rgb(38, 231, 222);
}

#heading {
    text-align: center;
    font-family: 'cursive';
    font-size: 5.2em;
    color: forestgreen;
    text-decoration: underline;
    text-shadow: 4px 2px #fff;
}

#sign-up {
    padding: 20px;
    width: 40%;
    height: 40%;
    margin: 20px auto;
    background-color: rgba(211, 211, 211, 0.5);
    border: 4px solid limegreen;
    border-radius: 8px;
}

#sign-up:hover {
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    box-shadow: 6px 6px rgba(211, 211, 211, 0.7);
    background-color: rgba(217, 217, 217, 0.8);
    border: 4px dashed forestgreen;
}

#sign-up>form {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

#sign-up>form>input {
    font-size: 26px;
    border-width: thin;
    border-radius: 4px;
    padding: 5px;
    margin-top: 8px;
    border-width: thin;
}

#sign-up>form>button {
    padding: 5px;
    font-size: 25px;
    background-color: #293;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 6px;
    width: 71%;
    margin-top: 15px;
}

#sign-up>form>button:hover {
    transition-duration: 0.7s;
    color: #293;
    background-color: #fff;
    border: 2px solid #293;
    cursor: pointer;
}

#sign-in {
    text-align: center;
    padding: 12px;
}

#sign-in>h2 {
    font-size: 3em;
    font-family: 'Courier';
}

#sign-in>a>button {
    padding: 4px;
    font-size: 2em;
    border: 2px solid #293;
    color: #293;
    background-color: #fff;
    width: 15%;
    border-radius: 4px;
}

#sign-in>a>button:hover {
    transition-duration: 0.4s;
    cursor: pointer;
    border-color: #fff;
    color: #fff;
    background-color: #293;
    box-shadow: 2px 3px rgba(217, 217, 217, 0.8);
}

#sign-in>a>button:focus {
    transition-duration: 0.4s;
    transform: translateY(2px);
}