body,html
{
  padding:0;
  margin:0;
}
body
{
background:maroon;
}
#caption
{
  background-color:red;
  color:white;
  text-align: center;
  font-family:serif;
  width:350px;
  margin:20px auto;
  padding:15px;
  font-size:25px;
  border-radius:16px;
  animation-duration:2.5s;
}
#heading
{
  text-align:center;
  color:white;
  text-decoration:overline;
  font-family:serif;
  font-size:54px;
}
#login
{
  width:350px;
  margin:0 auto;
  margin-top:75px;
  border:3px solid white;
  padding:20px;
  text-align: center;
}
form>input
{
  font-size: 25px;
  padding:15px;
  border-radius:8px;
  border-color: blue;
}
form>button
{
  font-size:24px;
  padding:15px 20px;
  border-radius: 16px;
  background-color: forestgreen;
  border-width:medium;
  color:white;
}
form>button[type="submit"]:hover
{
  -webkit-transition-duration:0.4s;
  background-color:skyblue;
  color:darkblue;
  border-color:forestgreen;
  cursor:pointer;
  border-width:thick;
}
form>button[type="reset"]:hover
{
  -webkit-transition-duration:0.4s;
  background-color:yellow;
  color:darkblue;
  border-color:forestgreen;
  cursor: pointer;
  border-width:thick;
}
form>input:focus
{
  -webkit-transition-duration:0.4s;
  border-width:thick;
  border-color:forestgreen;
}
form>button:focus
{
  -webkit-transition-duration:0.1s;
  -webkit-transform:translateY(4px);
}
#sentence
{
  color:white;
  font-family:fantasy;
  letter-spacing:3px;
  font-size: 60px;
}
#sign-up
{
  font-size: 38px;
  font-family:forte;
  padding:10px;
  border-radius: 12px;
  background-color:yellow;
  color:darkblue;
  border-width:thick;
  border-color:green;
  text-decoration: none;
}
#sign-up:hover
{
  -webkit-transition-duration:0.4s;
  text-decoration:none;
  text-transform:uppercase;
  cursor:pointer;
  background-color:green;
  color:yellow;
  border-width:thick;
  border-color:blue;
}
#sign-up:focus
{
  -webkit-transform:rotateY(270deg);
}
